@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 24%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 24%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 24%;

    --primary: 35 28% 43%;
    --primary-foreground: 0 0% 100%;

    --secondary: 76 53% 92%;
    --secondary-foreground: 35 36% 35%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 50%;

    --accent: 0 0% 93%;
    --accent-foreground: 0 0% 24%;

    --destructive: 22 83% 63%;

    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 35 28% 43%;
  }

  .dark:root {
    --background: 0 0% 18%;
    --foreground: 0 0% 95%;
    --card: 0 0% 21%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 21%;
    --popover-foreground: 0 0% 95%;

    --primary: 67 54% 92%;
    --primary-foreground: 201 20% 20%;

    --secondary: 67 10% 32%;
    --secondary-foreground: 67 54% 92%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 77%;

    --accent: 0 0% 29%;
    --accent-foreground: 0 0% 95%;

    --destructive: 22 83% 63%;

    --border: 89 10% 24%;
    --input: 0 0% 40%;
    --ring: 67 54% 92%;
  }
}
